body{
  margin: 0 auto;
}

.header{
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #ea5169;
  margin-bottom: 20px;
}
.header h1{
  font-family: sans-serif;
}
.summary{

  /* background-color: red; */
  padding: 10px;
  margin-bottom: 20px;
}
.summary p{
  font-family: sans-serif;
  font-weight: 600;
}
.navbar{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 600;
  grid-column-gap: 10px;

}
.navbar div:nth-child(1){
  background-color:red;
  width:25%;
}
.navbar div:nth-child(2){
  background-color:red;
  width:25%;
}
.navbar div:nth-child(3){
  background-color:red;
  width:25%;
}
.navbar div:nth-child(4){
  background-color:red;
  width:25%;
}
